.btn-primary,
.btn-secondary {
    display: inline-block;
    padding: 0 2.6rem;
    border-radius: 12.2rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 4.8rem;
}

.btn-primary {
    background-color: $brand-yellow;
    color: #855B35;
    transition: background-color .3s;
    &:hover {
        background-color: #FFDC5C;
    }
}

.btn-secondary {
    border: 0.1rem solid $brand-light-blue;
    background-color: transparent;
    color: $brand-light-blue;
    transition: all .3s;
    &:hover {
        background-color: $brand-light-blue;
        color: #FFFFFF;
    }
    &.white {
        border: 0.1rem solid white;
        color: white;
        &:hover {
            background-color: white;
            color: $brand-light-green;
        }
    }
}